body {
    background-image: url(../Images/background.jpeg);
    background-color: #92a8d1;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    margin-top: 10px;
    
}
.navbar {
    display: block!important;
}
.img-thumbnail {
    float: left;
    margin: 0 20px 0 0;
    }

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 95%;
}

.link {
    color: #92a8d1;
}
.portfolio-img {
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
    background-color: #f5f5f5;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #92a8d1;
    padding: 18px;
    font-size: 10px;
    color:white;
    text-align: center;
}

.active {
    font-weight: 600;
    color: #231520;
}